terraform {
  backend "s3" {
    region         = "us-west-2"
    bucket         = "${STATE_BUCKET_NAME}"
    key            = "${STATE_BUCKET_KEY}"
    dynamodb_table = "${STATE_DYNAMO_TABLE}"
  }
}
