apache-airflow-providers-amazon
botocore
cryptography
# To use SQS as a broker in Celery, you need to install pycurl.
# https://github.com/saleor/saleor/issues/8804
pycurl
psycopg2-binary
apache-airflow-providers-celery
airflow_multi_dagrun
apache-airflow-providers-postgres
apache-airflow-providers-slack
apache-airflow-providers-slack[http]
apache-airflow[github_enterprise]
affine
netCDF4
requests
rio-cogeo
smart-open
apache-airflow-providers-common-sql
typing-extensions
pyOpenSSL
stac-pydantic
fsspec
s3fs
xarray
xstac
