aws_region="${AWS_REGION}"
prefix="${PREFIX}"
vpc_id="${VPC_ID}"
subnet_tagname="${SUBNET_TAGNAME}"
iam_policy_permissions_boundary_name="${PERMISSIONS_BOUNDARY_POLICY_NAME}"
stage="${STAGE:-dev}"
assume_role_arns=${ASSUME_ROLE_ARNS:-"[]"}
cognito_app_secret="${COGNITO_APP_SECRET:-appsec}"
stac_ingestor_api_url="${INGESTOR_API_URL}"
vector_secret_name="${STAC_DB_SECRET_NAME}"
vector_security_group="${STAC_DB_SECURITY_GROUP_ID}"
