aws_profile="${AWS_PROFILE}"
aws_region="${AWS_REGION}"
prefix="${PREFIX}"
vpc_id="${VPC_ID}"
subnet_tagname="${SUBNET_TAGNAME}"
iam_role_permissions_boundary="${IAM_ROLE_PERMISSIONS_BOUNDARY}"
stage="${STAGE:-dev}"
assume_role_arns=$ASSUME_ROLE_ARNS
cognito_app_secret="${COGNITO_APP_SECRET}"
stac_ingestor_api_url="${STAC_INGESTOR_API_URL}"
vector_secret_name="${VECTOR_SECRET_NAME}"
vector_security_group="${VECTOR_SECURITY_GROUP}"
vector_vpc="${VECTOR_VPC}"
data_access_role_arn="${DATA_ACCESS_ROLE_ARN}"
workflow_root_path="${WORKFLOW_ROOT_PATH}"
ingest_url="https://dev.delta-backend.com/api/ingest"
raster_url="https://dev.delta-backend.com/api/raster"
stac_url="https://dev.delta-backend.com/api/stac"
cloudfront_id="${CLOUDFRONT_ID}"
jwks_url="${JWKS_URL}"
cognito_userpool_id="${COGNITO_USERPOOL_ID}"
cognito_client_id="${COGNITO_CLIENT_ID}"
